{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags cfilters %}

{% block body_class %}template-blogpage{% endblock %}

{% block sharing_block %}

{% endblock %}

{% block content %}
    <div class="guides-header" style="background: linear-gradient(90deg, {{ page.color_one }}, {{ page.color_two }});">
        <h1>#{{ page.main_title }}</h1>
    </div>
    <div class="container-flex">
        <div class="container-guides" style="background-color: {{ page.guide_color }}">
            {% image page.guide_image scale-100 as img %}
            <div class="guide-inner">
                <div class="guides-bg" style="background-image: url('{{ img.url }}')"></div>
                {{ page.guide_content }}
            </div>
        </div>
        <div class="container-maps" style="background-color: {{ page.map_color }}">
            {% image page.map_image scale-100 as img %}
            <div class="guide-inner">
                <div class="guides-bg" style="background-image: url('{{ img.url }}')"></div>
                {{ page.map_content }}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}

{% endblock %}

{% block slider-block %}
{% endblock %}
{% block subscribe %}
    {% include "forms/ajax.html" %}
{% endblock %}