altgraph==0.17
asgiref==3.2.7
beautifulsoup4==4.6.0
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-appconf==1.0.4
django-cogwheels==0.3
django-colorfield==0.3.0
django-compressor==2.4
django-el-pagination==3.3.0
django-libsass==0.8
django-modelcluster==5.0.1
django-smart-selects==1.5.6
django-taggit==1.2.0
django-treebeard==4.3.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
draftjs-exporter==2.1.7
future==0.18.2
html5lib==1.0.1
idna==2.9
l18n==2018.5
ldif3==3.1.1
libsass==0.19.4
pefile==2019.4.18
Pillow==6.2.2
psycopg2==2.8.5
PyInstaller==3.6
python-card-me==0.9.3
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
rcssmin==1.0.6
requests==2.23.0
rjsmin==1.1.0
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
surlex==0.2.0
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.8
wagtail==2.8
wagtailmenus==3.0.1
wagtailtinymce==4.2.1.5
wagtailtrans==2.1
Wand==0.5.9
webencodings==0.5.1
Willow==1.3
