.p {
  padding: .5em;
  &_2 {
    padding: .75em;
  }
  &_3 {
    padding: 1em;
  }
  &_4 {
    padding: 1.25em;
  }
  &_4 {
    padding: 1.5em;
  }
}

.m {
  margin: .5em;
  &_2 {
    margin: .75em;
  }
  &_3 {
    margin: 1em;
  }
  &_4 {
    margin: 1.25em;
  }
  &_4 {
    margin: 1.5em;
  }
}

.col {
  box-sizing: border-box;
  &-100 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  &-75 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
  }
  &-50 {
    -webkit-flex: 1 1 50%;
    -ms-flex:  1 1 50%;
    flex:  1 1 50%;
  }
  &-25 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
  }
}

.w {
  &-100 {
    width: 100%;
  }
  &-75 {
    width: 75%;
  }
  &-50 {
    width: 50%;
  }
  &-25 {
    width: 25%;
  }
}