.index_page_preview {
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 9;
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    &:hover {
        background-color: #1a1a1a;
        color: #fff;
    }
}

.sub_tag, .main_color {
    option {
        display: none;
        position: relative;
        &.active {
            display: block;
        }
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 2em;
            width: 20px;
        }
    }
}

.hidden {visibility: hidden}