.slider-right {
  text-align: center;
  height: 100%;

  div, ul, .slide {
    height: 100%;
  }

  .slide-standart, .slide-calendar {
    height: 100%;
    position: relative;
  }

  .slide-standart {
    img {
      width: auto;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 20px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 600;
      display: inline-block;
      padding: 0 40px;
      width: 100%;
      margin: 8% auto 40px;
      &:nth-child(2) {
        height: 50%;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 18px;
      line-height: 20px;
      max-height: 60px;
      font-family: Helvetica, Arial, sans-serif;
      color: #ffffff;
      overflow: hidden;
      margin: 0;
      position: absolute;
      bottom: 48px;
      left: 0;
      padding: 0 14%;
      width: 100%;
    }
  }

  .slide-calendar {
    color: #000000;

    .block_first {
      width: 100%;
      height: 33%;
      display: flex;
      align-items: flex-end;
    }

    .block_second {
      width: 100%;
      height: 47%;
      display: flex;
      align-items: center;
      flex-flow: wrap;
      align-content: center;
    }

    .block_third {
      width: 100%;
      height: 18%;
      display: flex;
      align-items: flex-start;
    }

    .date {
      border: 5px solid #000000;
      border-radius: 24px;
      margin: 0 auto;
      width: calc(100vw * 0.096);
      height: calc(100vw * 0.096);
      padding: 2px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

      &.image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
      }

      span {
        display: block;
        font-size: calc(100vw * 0.06);
        line-height: calc(100vw * 0.06);
        font-weight: 500;
        text-align: center;
      }

      small {
        display: block;
        text-align: center;
        font-size: calc(100vw * 0.015);
      }
    }

    .tag_link {
      color: #000000 !important;
      display: block;
      //margin: calc(100vw * 0.01) 0;
      font-size: calc(100vw * 0.013);
      font-family: Helvetica, Arial, sans-serif;
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: 0 calc(100vw * 0.04);
    }

    a {
      display: block;
      margin: 10px 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .btn {
      margin: 0 auto;
    }
  }
}

.sticky {
  .slide-standart, .slide-calendar {
    padding: 360px 60px 60px !important;
  }

  .slide-standart {
    img {
      display: none !important;
    }

    a {
      margin: 10px 0 20px;
      display: block;
    }
  }

  .slide-calendar {
    .date {
      display: none;
    }

    a.tag_link {
      display: none;
    }
  }
}

#block-for-slider-right {
  margin: 0 auto;
}

#viewport-right {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper-right {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
  -o-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
  transition-timing-function: cubic-bezier(.67, .01, .23, 1);
}

#slidewrapper-right, #slidewrapper-right ul, #slidewrapper-right li {
  margin: 0;
  padding: 0;
}

.slide-right {
  width: calc(100% / 4);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img-right {
  width: 100%;
}

#prev-btn-right, #next-btn-right {
  position: absolute;
  font-size: 40px;
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn-right:hover, #next-btn-right:hover {
  cursor: pointer;
}

#prev-btn-right {
  left: 20px;
}

#next-btn-right {
  right: 20px;
}

#nav-btns-right {
  position: absolute;
  width: 100%;
  bottom: 15px;
  right: 30px;
  margin: 0;
  text-align: right;
  height: auto;
}

.slide-nav-btn-right {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;

  &:hover {
    cursor: pointer;
  }

  &.active {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
  body {
    .slider-right {
      .slide-standart {
        img {
          width: auto;
          height: auto;
          max-width: 50%;
          max-height: 100%;
          position: absolute;
          left: calc(100% / 8);
          top: 0;
          padding: 10px;
        }

        a {
          width: 50%;
          margin: 50px 0 0 50%;
          padding: 0 80px 0 0;
          text-align: left;
          line-height: 25px;
          height: 25px;
          overflow: hidden;
        }

        p {
          width: 50%;
          margin: 0 0 40px 50%;
          bottom: 0;
          top: 90px;
          padding: 0 80px 0 0;
          text-align: left;
        }
      }

      .slide-calendar {
        .block_first {
          display: none;
        }

        .block_second {
          flex-flow: row;

          .tag_link {
            font-size: 18px;
            text-align: left;
          }
        }

        .block_third {
          .btn {
            font-size: 20px;
            margin: 20px auto 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    .slider-right {
      .slide-standart {
        img {
          left: calc(100% / 16);
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    .slider_block {
      height: 1200px;

      .left, .right {
        height: 600px;
      }

      .slider-right {
        .slide-standart {
          img {
            left: calc(100% / 16);
          }
        }

        .slide-calendar {
          .block_first {
            .date {
              width: 140px;
              height: 140px;

              span {
                font-size: 70px;
                line-height: 80px;
              }

              small {
                font-size: 20px;
              }
            }
          }

          .block_second {
            flex-flow: column;
            padding-top: 40px;

            .tag_link {
              font-size: 20px;
            }
          }

          .block_third {
            .btn {
              font-size: 20px;
              margin: 5px auto 0;
            }
          }
        }
      }
    }
  }
}