@font-face {
    font-family: 'Druk Wide';
    src: url('../webfonts/DrukWideCy-Medium.eot');
    src: url('../webfonts/DrukWideCy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/DrukWideCy-Medium.woff2') format('woff2'),
        url('../webfonts/DrukWideCy-Medium.woff') format('woff'),
        url('../webfonts/DrukWideCy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 70px;
  box-sizing: content-box;
}
.flex-container {
  /*генерирует flex-контейнер уровня блока*/
  max-width: 100%;
  width: 100vw;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  &-inline {
    /*генерирует flex-контейнер уровня строки*/
     width: 100%;
     display: -webkit-inline-flex;
     display: inline-flex;
  }
}
.btn {
  cursor: pointer;
  color: $black;
  border: 2px solid $black;
  border-radius: 30px;
  background-color: transparent;
  text-transform: uppercase;
  display: inline-block !important;
  text-align: center;
  font-size: calc(100vw * 0.011);
  line-height: 2em;
  padding: 6px 18px;
  text-decoration: none !important;
  white-space: nowrap;
  font-weight: 500;
  &:hover, &:focus {
    text-decoration: none !important;
    color: $black;
    //border: 2px solid $black;
    background-color: $white;
  }
}
.slider_block {
  height: calc(100vw * 0.375);
  position: relative;
  z-index: 90;
  &.sticky {
      position: sticky;
      top: calc(390px - 53vh);
    .text-block {
      bottom: 20px !important;
    }
  };
}
.slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  div, ul, .slide {
    height: 100%;
  }
  &_image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .text-block {
      position: absolute;
      bottom: 50px;
      left: 115px;
      text-align: left;
      height: auto;
      a {
        font-size: calc(100vw * 0.045);
        color: $white;
        font-family: 'Druk Wide';
        text-decoration: none;
        line-height: 0.9em;
      }
      .slider_subtitle {
        max-width: calc(100vw * 0.28);
        font-size: calc(100vw * 0.021);
        color: $white;
        text-align: left;
        font-family: Helvetica, Arial, sans-serif;
      }
    }
  }
  .flex-control-nav {
    bottom: 10px;
    .flex-control-paging
    {
      li a {

        .flex-active {

        }
      }
    }
  }
  .flex-direction-nav {
    bottom: calc(50% - 20px);
    height: 50px;
    width: 100%;
    position: absolute;
    a {
      color: $white;
    }
    .flex-nav-prev, .flex-nav-next {
      height: 40px;
    }
    .flex-next {
      right: 20px;
    }
    .flex-prev {
      left: 20px;
    }
  }
}