@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.p {
  padding: .5em; }
  .p_2 {
    padding: .75em; }
  .p_3 {
    padding: 1em; }
  .p_4 {
    padding: 1.25em; }
  .p_4 {
    padding: 1.5em; }

.m {
  margin: .5em; }
  .m_2 {
    margin: .75em; }
  .m_3 {
    margin: 1em; }
  .m_4 {
    margin: 1.25em; }
  .m_4 {
    margin: 1.5em; }

.col {
  box-sizing: border-box; }
  .col-100 {
    -webkit-flex-basis: 100%;
    flex-basis: 100%; }
  .col-75 {
    -webkit-flex-basis: 75%;
    flex-basis: 75%; }
  .col-50 {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%; }
  .col-25 {
    -webkit-flex-basis: 25%;
    flex-basis: 25%; }

.w-100 {
  width: 100%; }
.w-75 {
  width: 75%; }
.w-50 {
  width: 50%; }
.w-25 {
  width: 25%; }

@font-face {
  font-family: 'Druk Wide';
  src: url("../webfonts/DrukWideCy-Medium.eot");
  src: url("../webfonts/DrukWideCy-Medium.eot?#iefix") format("embedded-opentype"), url("../webfonts/DrukWideCy-Medium.woff2") format("woff2"), url("../webfonts/DrukWideCy-Medium.woff") format("woff"), url("../webfonts/DrukWideCy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important; }

html {
  overflow-x: hidden; }

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 70px;
  box-sizing: content-box;
  --columns: 6;
  --card_item_height: calc(100vw * 0.30);
  --slider_height: 60vh;
  --big_font_size: calc(100vw * 0.034); }

@media (max-width: 1600px) {
  body {
    --columns: 4;
    --card_item_height: calc(100vw * 0.37); } }
@media (max-width: 960px) {
  body {
    --columns: 2; } }
@media (max-width: 480px) {
  body {
    --columns: 1; } }
.flex-container {
  /*╨│╨╡╨╜╨╡╤А╨╕╤А╤Г╨╡╤В flex-╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤Г╤А╨╛╨▓╨╜╤П ╨▒╨╗╨╛╨║╨░*/
  max-width: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .flex-container-inline {
    /*╨│╨╡╨╜╨╡╤А╨╕╤А╤Г╨╡╤В flex-╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤Г╤А╨╛╨▓╨╜╤П ╤Б╤В╤А╨╛╨║╨╕*/
    width: 100%;
    display: -webkit-inline-flex;
    display: inline-flex; }

.hide {
  display: none !important; }

.hidden {
  visibility: hidden !important; }

.btn {
  cursor: pointer;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: transparent;
  text-transform: uppercase;
  display: inline-block !important;
  text-align: center;
  font-size: calc(100vw * 0.011);
  line-height: 2em;
  padding: 6px 18px;
  text-decoration: none !important;
  white-space: nowrap;
  font-weight: 500; }
  .btn:hover, .btn:focus {
    text-decoration: none !important;
    color: #000000;
    background-color: #ffffff; }

.slider_block {
  height: calc(100vw * 0.375);
  position: relative;
  z-index: 90; }
  .slider_block.sticky {
    position: sticky;
    top: calc(390px - 53vh); }
    .slider_block.sticky .text-block {
      bottom: 20px !important; }
  .slider_block .left {
    -webkit-flex-basis: 75%;
    flex-basis: 75%; }
  .slider_block .right {
    -webkit-flex-basis: 25%;
    flex-basis: 25%; }

.slider {
  position: relative;
  overflow: hidden;
  height: 100%; }
  .slider div, .slider ul, .slider .slide {
    height: 100%; }
  .slider_image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
    .slider_image .text-block {
      position: absolute;
      bottom: 50px;
      left: 115px;
      text-align: left;
      height: auto; }
      .slider_image .text-block a {
        font-size: calc(100vw * 0.04);
        color: #ffffff;
        font-family: 'Druk Wide';
        text-decoration: none;
        line-height: 0.9em; }
      .slider_image .text-block .slider_subtitle {
        max-width: calc(100vw * 0.5 - 120px);
        font-size: calc(100vw * 0.016);
        color: #ffffff;
        text-align: left;
        font-family: Helvetica, Arial, sans-serif; }
  .slider .flex-control-nav {
    bottom: 10px; }
  .slider .flex-direction-nav {
    bottom: calc(50% - 20px);
    height: 50px;
    width: 100%;
    position: absolute; }
    .slider .flex-direction-nav a {
      color: #ffffff; }
    .slider .flex-direction-nav .flex-nav-prev, .slider .flex-direction-nav .flex-nav-next {
      height: 40px; }
    .slider .flex-direction-nav .flex-next {
      right: 20px; }
    .slider .flex-direction-nav .flex-prev {
      left: 20px; }

header {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  min-height: 70px;
  transition: all 1s ease 0s; }
  header #btn_search {
    line-height: 70px;
    margin: 0 40px;
    color: #ffffff;
    text-decoration: none; }
  header #btn_burger {
    cursor: pointer;
    padding: 12px 0 0 50px; }
    header #btn_burger img {
      max-width: 85%; }
    header #btn_burger_close {
      cursor: pointer;
      padding: 20px 0 0 50px; }
  header .navbar {
    padding: 0;
    width: auto;
    -webkit-flex-grow: 3;
    display: flex;
    align-content: center;
    flex: 1 1 360px; }
  header .logotype {
    margin: 15px 50px 0 0;
    width: 110px;
    height: auto; }
    header .logotype img {
      max-width: 100%; }
  header .navbar-tags {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    z-index: 9;
    margin: 0;
    padding: 75px 55px;
    display: none;
    box-sizing: border-box; }
    header .navbar-tags.active {
      display: block; }
      header .navbar-tags.active .flex-container-inline {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        align-items: flex-start; }
    header .navbar-tags ul {
      list-style: none;
      padding: 0 60px 60px 0;
      width: calc(100%/4); }
      header .navbar-tags ul:last-child {
        padding: 0 0 60px 0; }
      header .navbar-tags ul li {
        padding: 0 0 20px 0; }
        header .navbar-tags ul li.more {
          font-size: 2em;
          color: #ffffff;
          line-height: 0.2em; }
        header .navbar-tags ul li a {
          color: #ffffff;
          text-decoration: none;
          font-size: 19px;
          display: inline-block; }
          header .navbar-tags ul li a:hover {
            text-decoration: underline; }
        header .navbar-tags ul li.first a {
          font-size: 24px;
          font-weight: 500; }
  header .bottom {
    margin-top: 0; }
    header .bottom a {
      color: #ffffff;
      text-decoration: none;
      font-size: 19px;
      padding: 0 80px 10px 0;
      display: inline-block; }
      header .bottom a:hover {
        text-decoration: underline; }
  header .main_menu {
    padding-left: 60px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    header .main_menu #more {
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 2em;
      line-height: 50px;
      color: #ffffff;
      cursor: pointer;
      display: none; }
    header .main_menu.collapse #more {
      display: block; }
  header .open .nav {
    height: auto; }
  header .nav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    list-style: none;
    height: 2em;
    overflow-y: hidden;
    position: relative;
    margin: 26px 50px 0 0; }
    header .nav li {
      padding: 0 40px 0 0;
      margin-bottom: 1em; }
      header .nav li:last-child {
        padding: 0; }
      header .nav li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.4px;
        font-weight: 600; }
        header .nav li a:hover {
          text-decoration: underline; }
  header .form-search {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    width: 100%;
    height: 70px;
    z-index: 99999; }
    header .form-search.active {
      display: block; }
    header .form-search input {
      width: 100%;
      height: 100%;
      line-height: 70px;
      font-size: 40px; }
    header .form-search button {
      display: none !important; }

footer {
  background-color: #000000;
  padding: 40px;
  z-index: 9999;
  position: relative; }
  footer .logotype {
    padding-top: 20px;
    box-sizing: content-box; }
  footer .navbar-footer {
    flex-grow: 2;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 60px 75px;
    box-sizing: border-box; }
    footer .navbar-footer.active {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      align-items: flex-start; }
    footer .navbar-footer .col {
      width: 33.333%;
      padding: 10px 10px 40px; }
    footer .navbar-footer ul {
      list-style: none; }
      footer .navbar-footer ul li.more {
        font-size: 2em;
        color: #ffffff;
        line-height: 0.2em; }
      footer .navbar-footer ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        padding: 0 0 10px 0;
        display: inline-block; }
        footer .navbar-footer ul li a:hover {
          text-decoration: underline; }
      footer .navbar-footer ul li.first a {
        font-size: 20px;
        padding: 0 0 20px 0; }
  footer .dop_links {
    text-align: center;
    padding-right: 40px;
    line-height: 2em;
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif; }
    footer .dop_links a {
      color: #ffffff;
      padding-right: 40px;
      text-decoration: none; }
      footer .dop_links a:hover {
        text-decoration: underline; }
    footer .dop_links span {
      color: #ffffff; }
  footer .disclamer {
    padding-top: 30px;
    color: #939596;
    font-size: 10pt;
    text-align: center; }
  footer .btn {
    color: #ffffff;
    border: 1px solid #ffffff; }
    footer .btn:hover {
      background-color: #ffffff; }

.socblock {
  width: 120px;
  min-width: 120px; }
  .socblock a {
    font-size: 20px;
    color: #ffffff;
    width: 50px;
    line-height: 50px;
    display: block;
    float: left; }

.flat-menu ul {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px; }
  .flat-menu ul li {
    padding: 0 15px;
    line-height: 60px; }
    .flat-menu ul li a {
      color: #ffffff;
      text-decoration: none; }
      .flat-menu ul li a:hover {
        text-decoration: underline; }

.card-wrap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-top: -6px; }

.card-wrap.tagged .card-item:nth-child(2) .background, .card-wrap.tagged .card-item:nth-child(4) .background,
.card-wrap.tagged .card-item:nth-child(5) .background, .card-wrap.tagged .card-item:nth-child(7) .background,
.card-wrap.tagged .card-item:nth-child(10) .background, .card-wrap.tagged .card-item:nth-child(12) .background,
.card-wrap.tagged .card-item:nth-child(13) .background, .card-wrap.tagged .card-item:nth-child(15) .background,
.card-wrap.tagged .card-item:nth-child(18) .background, .card-wrap.tagged .card-item:nth-child(20) .background,
.card-wrap.tagged .card-item:nth-child(21) .background, .card-wrap.tagged .card-item:nth-child(23) .background {
  opacity: 0.7; }

.card-item {
  width: calc(100% / var(--columns));
  height: var(--card_item_height);
  min-height: 390px;
  position: relative; }
  .card-item.white .title, .card-item.white .tags, .card-item.white .intro {
    color: #ffffff !important; }
  .card-item.black .title, .card-item.black .tags, .card-item.black .intro {
    color: #000000 !important; }
  .card-item .image {
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    margin: 0 auto; }
  .card-item .title {
    color: #000000;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 22px;
    position: absolute;
    z-index: 2;
    line-height: 24px;
    overflow: hidden;
    top: calc(100vw * 0.22);
    left: 20px;
    text-transform: capitalize; }
    .card-item .title small {
      font-size: 17px;
      left: 0;
      top: 1.6em;
      width: 100%;
      font-weight: 400;
      text-transform: none;
      height: 22px;
      max-height: 60px;
      line-height: 20px;
      overflow: hidden; }
  .card-item .intro {
    color: #000000;
    max-height: 60px;
    line-height: 20px;
    overflow-y: hidden;
    position: absolute;
    z-index: 2;
    top: calc(100vw * 0.22 + 40px);
    left: 60px;
    width: calc(100% - 120px);
    text-align: center;
    font-size: 15px; }
  .card-item .card-meta {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .card-item .card-meta .tags {
      color: #000000;
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 15px;
      font-family: "PT Mono";
      font-weight: 400; }
    .card-item .card-meta.rekcard .title, .card-item .card-meta.rekcard .intro, .card-item .card-meta.rekcard .tags {
      display: none; }
    .card-item .card-meta:hover .title small {
      display: none; }
    .card-item .card-meta:hover.video .title, .card-item .card-meta:hover.video .intro, .card-item .card-meta:hover.fullimage .title, .card-item .card-meta:hover.fullimage .intro, .card-item .card-meta:hover.rekcard .title, .card-item .card-meta:hover.rekcard .intro {
      display: none; }
  .card-item .card-front, .card-item .card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; }
    .card-item .card-front .background, .card-item .card-back .background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .card-item .card-item-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .card-item .card-front {
    display: block;
    width: 100%;
    height: 100%; }
    .card-item .card-front.video .image, .card-item .card-front.fullimage .image, .card-item .card-front.rekcard .image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .card-item .card-back {
    transition: auto 1s ease-in 0.5s;
    display: none; }
    .card-item .card-back .card-item-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .card-item .card-back.video .title, .card-item .card-back.video .intro, .card-item .card-back.fullimage .title, .card-item .card-back.fullimage .intro, .card-item .card-back.rekcard .title, .card-item .card-back.rekcard .intro {
      display: none; }
    .card-item .card-back.video .image, .card-item .card-back.fullimage .image, .card-item .card-back.rekcard .image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .card-item .card-back.rekcard .title, .card-item .card-back.rekcard .intro, .card-item .card-back.rekcard .tags {
      display: none; }
  .card-item:hover .card-front {
    display: none; }
  .card-item:hover .card-back {
    transition: auto 1s ease-out 0.5s;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    display: block;
    z-index: 99; }

hr {
  border: none;
  padding: 40px; }

.container {
  font-family: 'PT Serif', serif;
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  font-size: 20px;
  color: #000000; }
  .container h2, .container h3, .container h4, .container h5, .container h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
  .container h2 {
    font-size: calc(100vw * 0.025); }
  .container p {
    padding-bottom: 1em;
    font-size: 18px;
    line-height: 26px; }
  .container.narrow {
    width: 100%;
    max-width: 840px;
    margin: 0 auto; }
  .container img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  .container .intro {
    font-weight: 500;
    text-align: center;
    margin: 10px 0 30px;
    padding: 0 15%;
    font-size: 18px;
    color: #000000; }
  .container .left {
    flex-basis: 50%;
    padding-right: 15px; }
    .container .left img {
      margin-top: 8px; }
  .container .right {
    flex-basis: 50%;
    padding-left: 15px; }
    .container .right img {
      margin-top: 8px; }
  .container .columns div {
    box-sizing: border-box;
    padding: 10px;
    flex-grow: 1; }
  .container .two-column div {
    box-sizing: border-box;
    flex-grow: 1; }
  .container .sub_meta {
    padding: 10px 0 !important; }
    .container .sub_meta p {
      font-size: 14px;
      line-height: 18px;
      padding: 0; }
    .container .sub_meta b {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      margin-bottom: 8px;
      display: inline-block; }

.container.wide {
  width: 150vw;
  max-width: 1000% !important;
  margin-left: -25vw;
  position: relative;
  background-color: #f3f3f3;
  box-sizing: border-box;
  padding: 45px 0;
  margin-bottom: 80px; }
  .container.wide:before {
    left: 0; }
  .container.wide:after {
    right: 0; }
  .container.wide .slide-element {
    width: 66%;
    text-align: left;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif; }
    .container.wide .slide-element .meta {
      display: block;
      padding: 25px 0 15px;
      width: 150%;
      font-weight: 600;
      font-size: 13px; }
      .container.wide .slide-element .meta span {
        padding-right: 10px;
        margin-right: 10px;
        position: relative;
        font-family: 'PT Serif', Serif;
        font-style: italic; }
        .container.wide .slide-element .meta span:after {
          position: absolute;
          content: '|';
          right: -5px; }
    .container.wide .slide-element h3 {
      width: 150%;
      text-align: left;
      font-size: 25px;
      font-weight: 700;
      padding: 5px 0 5px; }
    .container.wide .slide-element p {
      height: 50px;
      overflow: hidden;
      width: 150%;
      line-height: 15px;
      font-size: 14px;
      font-weight: 400;
      font-family: "PT Serif"; }

.video-element div iframe {
  width: 100% !important;
  height: 100% !important; }

.video-block, .video-element {
  width: 100%;
  flex-wrap: nowrap;
  text-align: left;
  color: #000000;
  font-family: Helvetica, Arial, sans-serif; }
  .video-block div, .video-element div {
    padding: 10px;
    flex-grow: 1; }
    .video-block div:first-child, .video-element div:first-child {
      padding-left: 0; }
    .video-block div:last-child, .video-element div:last-child {
      padding-right: 0; }
    .video-block div iframe, .video-element div iframe {
      width: 100%; }
      .video-block div iframe .ytp-title-channel, .video-block div iframe .ytp-chrome-top-buttons, .video-element div iframe .ytp-title-channel, .video-element div iframe .ytp-chrome-top-buttons {
        display: none !important; }
      .video-block div iframe .ytp-chrome-top, .video-element div iframe .ytp-chrome-top {
        bottom: 0 !important; }
      .video-block div iframe .ytp-title, .video-element div iframe .ytp-title {
        align-self: flex-end !important; }
  .video-block .meta, .video-element .meta {
    display: block;
    padding: 25px 0 15px;
    width: 100%;
    font-weight: 600;
    font-size: 13px; }
    .video-block .meta span, .video-element .meta span {
      padding-right: 10px;
      margin-right: 10px;
      position: relative;
      font-family: 'PT Serif', Serif;
      font-style: italic; }
      .video-block .meta span:after, .video-element .meta span:after {
        position: absolute;
        content: '|';
        right: -5px; }
  .video-block h3, .video-element h3 {
    padding: 5px 0 5px;
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-weight: 700; }
  .video-block p, .video-element p {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    font-family: "PT Serif";
    height: 48px;
    overflow: hidden;
    width: 100%; }

.video-element {
  font-weight: 600;
  font-size: 13px; }

.owl-nav {
  display: block !important;
  position: absolute;
  left: calc(33% - 20px);
  width: calc(50vw + 10px);
  top: 30%; }
  .owl-nav button {
    position: relative; }
    .owl-nav button span {
      font-size: 1pt; }
    .owl-nav button.owl-prev {
      float: left; }
      .owl-nav button.owl-prev:after {
        position: absolute;
        left: 0;
        top: 0;
        content: url("../image/arrow-left.png"); }
    .owl-nav button.owl-next {
      float: right; }
      .owl-nav button.owl-next:after {
        position: absolute;
        left: 0;
        top: 0;
        content: url("../image/arrow-right.png"); }

.align-center {
  text-align: center; }

h2 {
  padding-bottom: 10px; }

.gallery {
  position: relative; }
  .gallery .lSSlideOuter {
    position: relative; }
  .gallery .lSSlideOuter .lSPager.lSGallery {
    margin-top: 55px !important; }
    .gallery .lSSlideOuter .lSPager.lSGallery li img {
      height: 100%; }
  .gallery .image-gallery {
    min-height: 380px; }
    .gallery .image-gallery li {
      height: 100%; }
      .gallery .image-gallery li img {
        height: 100%; }
  .gallery .lSAction > a {
    top: 480px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    .gallery .lSAction > a.lSPrev {
      background-image: url("/static/image/arrow-left.png");
      left: -50px; }
    .gallery .lSAction > a.lSNext {
      background-image: url("/static/image/arrow-right.png");
      right: -50px; }

.soc-block {
  display: flex;
  justify-content: space-around;
  padding: 0 calc(100% * 0.35); }
  .soc-block a {
    line-height: 2em;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em; }

.header-block {
  background-color: #dfc980;
  height: calc(100vw * 0.375);
  padding: 60px 45px;
  margin-bottom: 30px; }
  .header-block .head-image {
    float: left;
    width: calc(50% - 60px);
    margin-right: 60px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .header-block .head-block {
    position: relative;
    padding: 0 60px 0 15px;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box; }
    .header-block .head-block .head-title {
      position: absolute;
      width: 100%;
      max-width: 100%;
      bottom: 0; }
    .header-block .head-block .breadcrumbs a {
      color: #000000;
      text-decoration: none;
      position: relative;
      padding: 0 20px 0 0;
      text-transform: capitalize; }
      .header-block .head-block .breadcrumbs a:hover, .header-block .head-block .breadcrumbs a:focus {
        color: #000000; }
      .header-block .head-block .breadcrumbs a:after {
        content: '-';
        position: absolute;
        right: 6px; }
      .header-block .head-block .breadcrumbs a.active:after {
        display: none; }
    .header-block .head-block .title {
      color: #000000;
      font-family: 'Druk Wide';
      font-size: var(--big_font_size);
      padding: 40px 0 0; }

.partners .header {
  background-size: cover;
  background-position: center;
  line-height: 260px;
  color: #ffffff;
  font-family: 'Druk Wide';
  font-size: calc(100vw * 0.03);
  padding: 0 110px; }
.partners .navigate {
  background-color: #418dc1;
  padding: 100px 220px 0;
  color: #ffffff; }
  .partners .navigate .btn {
    border-color: #ffffff;
    color: #ffffff; }
    .partners .navigate .btn:hover, .partners .navigate .btn.active {
      color: #418dc1;
      background-color: #ffffff; }
  .partners .navigate .left, .partners .navigate .right {
    width: 50%;
    float: left; }
  .partners .navigate .left {
    padding-right: 30px; }
    .partners .navigate .left h2 {
      font-size: calc(100vw * 0.0185);
      font-family: 'Montserrat', sans-serif; }
  .partners .navigate .right {
    padding-left: calc(100% * 0.01); }
    .partners .navigate .right .btn {
      font-size: calc(100vw * 0.014);
      padding: calc(100vw * 0.006) calc(100vw * 0.035);
      width: 99%; }
  .partners .navigate .filter_btns {
    margin: 80px 0 0;
    text-align: center; }
    .partners .navigate .filter_btns .btn {
      width: calc(100% * 0.23);
      margin: 0 calc(100% * 0.01) 30px; }
      .partners .navigate .filter_btns .btn:nth-child(1) {
        margin-left: 0; }
      .partners .navigate .filter_btns .btn:nth-child(4n) {
        margin-right: 0; }
.partners .content {
  display: inline-block;
  width: 100%;
  min-height: calc(100vw / 4); }
.partners .partner_img {
  border-right: 1px solid #bfbfbf99;
  border-top: 1px solid #bfbfbf99;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  float: left;
  width: calc(100vw / 4);
  height: calc(100vw / 4);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  opacity: 0.85;
  filter: grayscale(1); }
  .partners .partner_img:hover {
    opacity: 1;
    filter: grayscale(0); }
  .partners .partner_img:nth-child(4n) {
    border-right: none; }
  .partners .partner_img.hide {
    opacity: 0.2; }
  .partners .partner_img .meta {
    display: inline-flex;
    font-family: "PT Mono";
    font-weight: 600;
    font-size: 16px;
    color: #000000; }
.partners .abouts {
  display: none; }

.about .header {
  background-size: cover;
  background-position: center;
  line-height: 260px;
  color: #ffffff;
  font-family: 'Druk Wide';
  font-size: calc(100vw * 0.03);
  padding: 0 110px; }
.about .navigate, .about .images {
  display: none; }
.about .content {
  background-color: #418dc1;
  color: #ffffff;
  padding: 100px 200px; }
  .about .content h2 {
    font-size: calc(100vw * 0.0185);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px; }
  .about .content .btn-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; }
    .about .content .btn-block .btn {
      width: calc(100% * 0.4);
      border-color: #ffffff;
      color: #ffffff;
      padding: calc(100vw * 0.004);
      font-size: calc(100vw * 0.013); }
      .about .content .btn-block .btn:hover, .about .content .btn-block .btn.active {
        color: #418dc1;
        background-color: #ffffff; }
  .about .content .info-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px; }
    .about .content .info-block .items {
      text-align: center;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif; }
      .about .content .info-block .items .title {
        color: #333333;
        margin-bottom: 15px; }
      .about .content .info-block .items a {
        line-height: 2em;
        color: #ffffff;
        text-decoration: none; }
  .about .content .soc-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 0 calc(100% * 0.35); }
    .about .content .soc-block a {
      line-height: 2em;
      color: #ffffff;
      text-decoration: none;
      font-size: 1.5em; }

.owl-carousel.owl-drag .owl-item.active:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: #f3f3f3b0; }
.owl-carousel.owl-drag .owl-item.active:nth-child(2):after {
  background-color: transparent;
  z-index: -1;
  content: ''; }

.owl-carousel.owl-drag .owl-item:nth-child(5):after {
  background-color: transparent;
  z-index: -1;
  content: ''; }

/*# sourceMappingURL=main.css.map */
