{% load wagtailcore_tags wagtailimages_tags %}
<div class="charitable">
    <div class="inner">
        {% for item in self %}
            {% if item.block_type == 'main_image' %}
                <div class="img">{{ item }}</div>
            {% endif %}
            {% if item.block_type == 'body_text' %}
                <div class="desc">{{ item }}</div>
            {% endif %}
            {% if item.block_type == 'help_link' %}
                <a href="{{ item }}" target="_blank" class="help_link">
                {% if 'en.' in request.get_host %}
                    Help
                {% else %}
                    Помочь
                {% endif %}
                </a>
            {% endif %}
            {% if item.block_type == 'contact_link' %}
                <a href="{{ item }}" target="_blank" class="contact_link">
                    {% if 'en.' in request.get_host %}
                        Contacts
                    {% else %}
                        Контакт
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>