{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags cfilters widget_tweaks el_pagination_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="card-wrap">
        {% lazy_paginate blogpages %}
        {% for post in blogpages %}
            {% if forloop.counter != subscribe_count %}
                {% with post=post.specific %}
                    <div class="card-item {{ post.page_color }}">
                        <div class="card-front {{ post.page_type }}">
                            <div {{ post.main_tag.id }} class="background"
                                    {% for ctag in post.color_tags %}
                                        {% if post.main_color_id %}
                                            {% if ctag.id == post.main_color_id %}
                                                        style="background-color: {{ ctag.color }}"
                                            {% endif %}
                                        {% else %}
                                            {% if ctag.tag_id.tag_id == post.main_tag_id %}
                                                        style="background-color: {{ ctag.color }}"
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            ></div>
                            <div class="card-item-inner">
                                {% if post.main_image %}
                                    {% image post.main_image scale-100 as img %}
                                    <div class="image" style='background-image: url("{{ img.url }}")'></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-back {{ post.page_type_hover }}">
                            <div class="background"
                                    {% for ctag in post.color_tags %}
                                        {% if post.main_color_id %}
                                            {% if ctag.id == post.main_color_id %}
                                 style="background-color: {{ ctag.color }}"
                                            {% endif %}
                                        {% else %}
                                            {% if ctag.tag_id.tag_id == post.main_tag_id %}
                                 style="background-color: {{ ctag.color }}"
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            ></div>
                            <div class="card-item-inner">
                                {% if post.animate_image %}
                                    <div class="image"
                                         style='background-image: url("/media/{{ post.animate_image }}")'></div>
                                {% endif %}
                                <p class="intro">{{ post.intro }}</p>
                            </div>
                        </div>
                        <div class="card-meta {{ post.page_type_hover }}">
                            {% if post.main_tag.id == 14 %}
                                <a href="{{ post.adv_link|safe }}" target="_blank">
                            {% else %}
                                <a href="{% pageurl post %}">
                            {% endif %}
                            </a>
                            <h2 class="title">{% if post.card_title %}
                                {{ post.card_title }}
                            {% elif post.sub_tag.name %} #{{ post.sub_tag.name }}
                            {% else %}#{{ post.main_tag }}{% endif %}
                            </h2>
                            <p class="subtitle">
                                {% if post.card_sub_title %}{{ post.card_sub_title }}{% else %}
                                    {{ post.title }}{% endif %}
                            </p>
                            <div class="tags">
                                    <span>
                                        {% if post.main_tag %}
                                            <a href="/tags/?tag={{ post.main_tag }}">#{{ post.main_tag }}</a>
                                        {% endif %}
                                        {% if post.sub_tag.name and post.main_tag|clear_val != post.sub_tag.name|clear_val %}
                                            <a href="/tags/?tag={{ post.sub_tag.name }}">#{{ post.sub_tag.name }}</a>
                                        {% endif %}
                                    </span>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% else %}
                {% include "forms/ajax_card.html" %}
            {% endif %}
        {% endfor %}
        {% if locale == 'ru' %}
            {% show_more "Здесь еще много интересного" "Загрузка ..." %}
        {% else %}
            {% show_more "There are many more interesting things here" "Locading ..." %}
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide.css' %}">
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/el-pagination.js' %}"></script>
{% endblock %}

{% block endless_js %}
    <script>
        $(document).ready(function () {
            $marg = $('footer').height()
            $.endlessPaginate({
                paginateOnScroll: false,
                paginateOnScrollMargin: $marg
            });
        })
    </script>
{% endblock %}

{% block subscribe %}
    {% include "forms/ajax.html" %}
{% endblock %}