{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="header-block"
        {% for ctag in page.color_tags %}
            {{ page.main_tag.id }}
            {{ ctag.tag_id }}{{ ctag.color }}
            {% if ctag.tag_id == page.main_tag.id %}
                style="background-color: {{ ctag.color }}"
            {% endif %}
        {% endfor %}
    >
        {% image page.main_image scale-100 as img %}
        <div class="head-image" style='background-image: url("{{ img.url }}")'>
        </div>
        <div class="head-block">
            <div class="head-title">
                <div class="breadcrumbs">
                    <a href="{{ page.get_parent.url }}">Главная</a>
                    <a href="/tags/?tag={{ page.main_tag }}" class="active">{{ page.main_tag }}</a>
                </div>
                <h1 class="title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
{#    <p class="meta">{{ page.date }}</p>#}
{#    <div class="intro">{{ page.intro }}</div>#}
    {{ page.content_body }}

    <div class="container">
        <h2>Вам наверняка будет интересно</h2>
        <hr>
    </div>
    <div class="card-wrap">
        {% for post in blogpages %}
            {% if post.main_tag == page.main_tag %}
                {% with post=post.specific %}
                    {% if forloop.counter < 5 %}
                        <div class="card-item {{ post.page_color }}">
        {#                    <a href="{% pageurl post %}">#}
                            <a href="/blog/рассказы-об-особняках-москвы/">
                                <div class="card-front {{ post.page_type }}">
                                    <div class="background"
                                        {% for ctag in post.color_tags %}
                                            {% if ctag.tag_id == post.main_tag.id %}
                                                style="background-color: {{ ctag.color }}"
                                            {% endif %}
                                        {% endfor %}
                                    ></div>
                                    <div class="card-item-inner">
                                        {% if post.main_image %}
                                            {% image post.main_image scale-100 as img %}
                                            <div class="image" style='background-image: url("{{ img.url }}")'></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-back {{ post.page_type_hover }}">
                                    <div class="background"
                                         {% for ctag in post.color_tags %}
                                            {% if ctag.tag_id == post.main_tag.id %}
                                                style="background-color: {{ ctag.color }}"
                                            {% endif %}
                                        {% endfor %}
                                    ></div>
                                    <div class="card-item-inner">
                                        {% if post.animate_image %}
                                            <div class="image" style='background-image: url("/media/{{ post.animate_image }}")'></div>
                                        {% endif %}
                                        <p class="intro">{{ post.intro }}</p>
                                    </div>
                                </div>
                                <div class="card-meta {{ post.page_type_hover }}">
                                    <h2 class="title">#{{ post.tags.all.0.name }} <small>{{ post.title }}</small></h2>
                                    <div class="tags">
                                        <span>#{{ post.main_tag }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block extra_js %}
    <script>
      $(document).ready(function() {
           var slider = $('.image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:4,
                slideMargin: 0,
                speed:2500,
                loop:true,
                onSliderLoad: function() {
                    $('.image-gallery').removeClass('cS-hidden');
                }
           });
           $('.lSPrev').click(function () {
                slider.goToPrevSlide();
            })
           $('.lSNext').click( function () {
                slider.goToNextSlide();
           })
      })
    </script>
{% endblock %}

{% block slider-block %}
{% endblock %}