{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags cfilters %}

{% block body_class %}template-typed{% endblock %}

{% block sharing_block %}
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="#Москвастобой">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.intro }}">
    <meta property="og:url" content="{{ self.url }}">
    <meta property="og:locale" content="ru_RU">
    {% image page.article_image scale-100 as img %}
    <meta property="og:image" content="http://moscowwithyou.ru{{ img.url }}">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.intro }}">
    {% image page.article_image scale-100 as img %}
    <meta name="twitter:image:src" content="http://moscowwithyou.ru{{ img.url }}">
    <meta name="twitter:url" content="{{ self.url }}">
    <meta name="twitter:domain" content="http://moscowwithyou.ru">
    <meta name="twitter:site" content="@moscowwithyou.ru">
    <meta name="twitter:creator" content="@moscowwithyou.ru">
{% endblock %}


{% block content %}
    {% image page.main_image scale-100 as img %}
    <div class="{{ page.url|clear_url }}">
    <div class="header" style="background-image: url('{{ img.url }}')">
        <h1>#{{ page.title }}</h1>
    </div>
    {#    Parthners #}
    <div class="navigate">
        <div style="display: inline-block;">
            <div class="left">
                {{ page.content_body }}
            </div>
            <div class="right">
                {% to_project as params %}
                {% if params|length > 0 %}
                    <a href="mailto:{{ params.1 }}?subject={% if 'en.' in request.get_host %}Join the project as a partner{% else %}Присоединиться к проекту как партнер{% endif %}" class="btn">
                        {% if 'en.' in request.get_host %}
                            join the project
                        {% else %}
                            присоединиться к проекту
                        {% endif %}</a>
                {% endif %}
            </div>
        </div>
        <div class="filter_btns">
            {% for tag in page.tags %}
                {% if 'en.' in request.get_host and tag.locale == 'en' %}
                    <a class="btn" area-label="{{ tag.name }}">#{{ tag.name }}</a>
                {% elif tag.locale == 'ru' and 'en.' not in request.get_host %}
                    <a class="btn" area-label="{{ tag.name }}">#{{ tag.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="content images">
        {% for item in page.typed_gallery_images.all %}
            {% image item.image scale-100 as img %}
            <a href="{{ item.link }}" target="_blank">
                <div class="partner_img" style="background-image: url('{{ img.url }}')" area="{{ item.main_tag }}">
                    <p class="meta">
                        {{ item.caption }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
    {#    Parthners end #}

    {#    About #}
    <div class="content abouts">
            {{ page.content_body }}
            <div class="info-block">
                <div class="items">
                <p class="title">
                    {% if 'en.' in request.get_host %}
                        Email us with your ideas
                    {% else %}
                        Наша почта для ваших идей
                    {% endif %}
                </p>
                <a href="mailto:press@welcome.moscow">press@welcome.moscow</a>
                </div>
            </div>
            <div class="info-parther" style="text-align: center;padding-bottom: 40px;">
                <p>
                    {% if 'en.' in request.get_host %}
                        General <br>information partner
                    {% else %}
                        Генеральный <br>информационный партнер
                    {% endif %}
                </p>
                <img src="/media/original_images/tass.png" style="width: 150px;">
            </div>
            <div class="addthis_inline_share_toolbox"></div>
        {#    About end #}

    </div>

{% endblock %}

{% block slider-block %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        label = ''
        $(document).ready(function () {
            all_parthners = $('.partner_img')
            $('.filter_btns .btn').click(function () {
                $('.filter_btns .btn').removeClass('active')
                $(this).addClass('active')
                if (label == $(this).attr('area-label')) {
                    $(this).removeClass('active')
                    all_parthners.each(function () {
                        $(this).removeClass('hide')
                    });
                    label = ''
                } else {
                    label = $(this).attr('area-label')
                    all_parthners.each(function () {
                        if ($(this).attr('area') != label) {
                            $(this).addClass('hide')
                        } else {
                            $(this).removeClass('hide')
                        }
                    })
                }
            })
        });
    </script>
{% endblock %}
{% block subscribe %}
    {% include "forms/ajax.html" %}
{% endblock %}